<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="/css/admin.css">
</head>
<body>
   {{!-- <h1 style="text-align: center;"><i>ADMIN</i></h1> --}}

   <div class="navbar">
    <a class="navbut" style="text-decoration: none;"  href="#home">HOME</a>
    <a class="navbut" style="text-decoration: none;"  href="#table">LIST</a>
    <a class="navbut" style="text-decoration: none;"  href="#coo">TIME</a>
    <a class="navbut" style="text-decoration: none;"  href="#feedcontrol">FEEDBACK</a>
    <a class="navbut" style="text-decoration: none;"  href="index.html">LOG OUT</a>
   </div>

   <h1 style="color: rgb(223, 69, 69); text-align:center">{{note}}</h1>
    <div id="home" class="contain">
            
    <div class="caninfo">
    <form action="admin" enctype="multipart/form-data" method="post">

        <label for="can_num">  SERIAL NO: </label>
        <input  type="number"id=can_num name="can_num"  style="width: 250px; padding:7px;border:none;"  required><br><br>
        <label for="can_name">  CANDIDATE NAME:</label>
        <input type="text" name="can_name" id="can_name"   style="width: 250px; padding:7px ;border:none;" required><br><br>
        <label for="can_pic"> PROFILE PIC :</label>
        <input type="file" id="can_pic" name="pic" required><br><br>
        <label for="can_party">  PARTY SYMBOL :</label>
        <input type="file" id="can_party" name="pic" required><br><br>
        <button type="submit" id="bt" style="height: 40px;width:100px;margin-left:160px;border-radius:5px">UPLOAD</button>
 
    </form>
    </div>




<div class="can_dlt">
   <form action="admin"  method="post">
     <br>
        <label for="num">   Enter Candidate Serial  Number To Delete:</label>
         <input type="number" style="width: 250px; padding:7px"  id="num" placeholder="(Ex: 6)" name="num" required><br><br>
        <button type="submit" id="bt" style="height: 40px;width:100px;margin-left:100px;border-radius:5px;">DELETE</button>
    </form>
    </div>
</div>



<div id="coo" class="coo">

<div class="input_time">
    <h2 style=" color:rgba(134, 95, 11, 0.913)">Update Time:</h2><br>
    <form  action="admin" method="post">
        <label for="day"  >DAY:</label>
    <input  type="number"id=day name="day"  style="width: 100px;padding:7px;border-radius:5px;border:none;" max="31"   required><br><br>
    <label for="hr"  >HOUR:</label>
    <input  type="number"  id="hr" name="hr" style="width: 100px;padding:7px;border-radius:5px;border:none;" max="23" required><br><br>
       <label for="min">MIN:</label>
    <input type="number"  id="min" name="min" style="width: 100px;padding:7px;border-radius:5px;border:none;" max="59" required><br><br>
       <label for="sec">SEC:</label>
    <input type="number"   id="sec" name="sec" style="width: 100px;padding:7px;border-radius:5px;border:none;" max="59" required><br><br>
    <button type="submit" id="bt" style="height: 40px;width:100px;border-radius:5px;margin-left:55px">  START</button>
</form>
</div>

<div class="dis_time">
    <h2 style=" color:rgba(134, 95, 11, 0.913);">Voting Ends Before: </h2><br>
   

         {{#each datat}}
           DAY: {{this.day}}<br>
            HR: {{this.hr}}<br>
            MIN: {{this.min}}<br>
            SEC: {{this.sec}}<br>
        {{/each}}
</div>


<div class="dlt_time">
<form action="admin" method="post">
    <label  style="width: 200px; text-align:center;height:90px"><h2 style=" color:rgba(134, 95, 11, 0.913)">Delete   Previous Time Before Updating  New Time:</h2></label>
<input  type="hidden" value="10"  name="dlt_time"><br><br>
<button type="submit" id="bt" style="height: 40px;width:105px;margin-left:100px;border-radius:5px;">DELETE_TIME</button>
</form>
</div>
</div>








<div id="table">
<h2 style="margin-top: 100px;color:  rgba(90, 69, 4, 0.92);">CANDIDATES LIST</h2>
<table>
    <tbody>
        <tr>
    <th>SLNO</th>
    <th>SYMBOL</th>
    <th>NAME</th>
    <th>PROFILE</th>
  </tr>
        {{#each data1}}
            <tr>
                <td>{{this.idno}}</td>
                  <td><img src="data:image/png;base64,{{this.symbol}}"  width="110px" height="100px"></td>
                <td>{{this.name}}</td>
                 <td><img src="data:image/png;base64,{{this.image}}"  width="110px" height="100px"></td>
                 
            </tr>
        {{/each}}
    </tbody>
</table>
</div>

<h2 style="text-align: center; color:  rgba(134, 95, 11, 0.913);">FEEDBACK CONTROL</h2>
<div id="feedcontrol">

 
<div class="feedinfo">
  
     {{#each data2}}
       <li>{{this.message}}</li><br>
       
        {{/each}}

</div>


<div class="feed_dlt">
<form action="admin" method="post">
    <label for="dlt"><h2 >DELETE FEEDBACK ------USER ID :</h2></label>
<input  type="number" id="dlt" style="width: 150px;padding:7px;border-radius:5px;border:none;"   name="feed"><br><br>
<button type="submit" id="bt"  style="height: 40px;width:110px;border-radius:5px">DELETE_FEED</button>
</form>

</div>
</div>



<div class="user_control">

<div class="user_details">

<h2 style="margin-top: 0px;color:  rgba(90, 69, 4, 0.92);">CANDIDATES LIST</h2>
<table id="tab">
    <tbody>
        <tr>
    <th>USN</th>
    <th>NAME</th>
    <th>EMAIL</th>
    <th>VOTED</th>
  </tr>
        {{#each data4}}
            <tr>
                <td>{{this.USN}}</td>
                  <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                 <td>{{this.voted}}</td>
                 
            </tr>
        {{/each}}
    </tbody>
</table>

</div>


<div class="user_change">
    <div class="change">
  
         <form action="admin"  method="post">
         <label for="usn" >   Enter USN To Change Email:</label>
         <input type="number" style="width: 200px; padding:7px;"  id="usn" placeholder="(Ex: 6)" name="usn" required><br><br>
         <label for="n_email">New_Email:</label><br>
           <input type="email" id="n_email"  name="u_email" style="width: 220px;padding:7px;"  pattern="^[0-9]{2}[A-Za-z]{4}[0-9]{6}@msruas\.ac\.in$"  title="EX: abc@msruas.ac.in" required><br><br>
         <button type="submit" id="bt" style="height: 40px;width:100px;border-radius:5px;">Change</button>
         </form>
     
    </div>

    <div class="change">
          
         <form action="admin"  method="post">
         <label for="1usn">   Enter USN To Change Name:</label><br>
         <input type="number" style="width: 250px; padding:7px"  id="1usn" placeholder="(Ex: 6)" name="n_usn" required><br><br>
         <label for="n_name">New_Name:</label><br>
         <input type="text" id="n_name" name="u_name" style="width: 250px; padding:7px"  required><br><br>
         <button type="submit" id="bt" style="height: 40px;width:100px;border-radius:5px;">Change</button>
         </form>
    </div>

    <div class="change">
   
         <form action="admin"  method="post">
         <label for="2num">   Reset All  User's Vote :</label>
         <input type="hidden"   id="2num" value="20" name="reset" required><br><br>
         <button type="submit" id="bt" style="height: 40px;width:100px;border-radius:5px;">Reset</button>
         </form>

    </div>
</div>


</div>






</body>
</html>