<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/resultstyle.css">
</head>
<body>

 <h1>VOTING FINAL RESULT</h1>
    <div id="container">
        <div id="logobox">
            <div id="logo"></div>
        </div>

 <table>
    <tbody>
        <tr>
    <th>SLNO</th>
    <th>NAME</th>
    <th>PROFILE</th>
    <th>SYMBOL</th>
    <th>VOTE COUNT</th>
  </tr>
        {{#each data}}
            <tr>
                <td>{{this.idno}}</td>
                  <td>{{this.name}}</td>
                <td><img src="data:image/png;base64,{{this.image}}"  width="110px" height="100px"></td>
                <td><img src="data:image/png;base64,{{this.symbol}}"  width="110px" height="100px"></td>
                <td>  {{this.votes}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

        </div>






</div>
    <div class="winb">
    <h2>WINNER IS...</h2>
    <br>
     <h2 >{{name}} </h2>
     <h2 >with {{votes}} votes</h2>
    
    </div>


<script>
    if(window.history.replaceState){
        window.history.replaceState(null,null,window.location.href);
    }
</script>

</body>
</html>